<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarouselView.FormsPlugin" version="1.0.19" targetFramework="xamarinios10" />
  <package id="DotNetCross.Memory.Unsafe" version="0.2.2" targetFramework="xamarinios10" />
  <package id="Fody" version="1.29.4" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Realm" version="0.76.1" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="WebP.Touch" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Forms.RoundedBoxView" version="1.0.0.7" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.1.5" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.1.5" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.0.101" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.19.0" targetFramework="xamarinios10" />
</packages>