<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetCross.Memory.Unsafe" version="0.2.2" targetFramework="MonoAndroid60" />
  <package id="Fody" version="1.29.4" targetFramework="MonoAndroid60" developmentDependency="true" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="MonoAndroid60" />
  <package id="Plugin.Permissions" version="1.1.7" targetFramework="MonoAndroid60" />
  <package id="Realm" version="0.76.1" targetFramework="MonoAndroid60" developmentDependency="true" />
  <package id="SimpleInjector" version="2.7.3" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugins.Forms.RoundedBoxView" version="1.0.0.7" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.FFImageLoading" version="2.1.5" targetFramework="MonoAndroid60" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.1.5" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Forms" version="2.3.0.101" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre1" targetFramework="MonoAndroid60" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="MonoAndroid60" />
  <package id="XLabs.IoC.SimpleInjector" version="2.0.5782" targetFramework="MonoAndroid60" />
</packages>